*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;    
}

ul{
    list-style: none;
}

/* global styles for header */
h1, h2,h3,h4{
    color: #eee;
}


/* global styles for anchor */
a{
    color: #eee;
    text-decoration: none;
}

img{
    width: 50%;
}


/* this style is used for giving shadows around a body*/
.showcase::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* for it to appear above every other elements*/
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000;
}


/* start: for showcase styles */
.showcase{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('vt2.jpg') no-repeat center center/cover;
    
}

.showcase-top{
    z-index: 2;
    width: 80%;
    margin: 0 auto;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.showcase-top img{
    z-index: 2;
    width: 150px;
    /*
    width: 170px;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
}
.showcase-top a{
    z-index: 2;
    background-color: rgb(224, 76, 76);
    padding: 8px 14px;
    font-size: 15px;
    border-radius: 5px;
}
.showcase-top a:hover{
    opacity: 0.9;
    transition: .4s;
}

.showcase-content{
    width: 80%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}




.showcase-content h1{
    font-size: 50px;
    overflow: hidden;
    font-weight: bolder;
}

.showcase-content p{
    padding: 10px 0;
    color: white;
    font-size: 25px;
}
.showw{
    width: 80%;
    display: flex;
    
    justify-content: center;
    align-items: center;}
.showw input{
    padding-top: 10px;
    background-color: transparent;
    border: 1px solid white;
    width: 40%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
}
.showw a{
    font-size: 25px;
    padding: 10px 20px;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    background-color: red;
}
.showcase-content h5{
    font-size: 20px;
    color: white;
    font-weight: 400;
}
.get-started:hover{
   color: white;
}
.showw i{
    font-size: 20px;
}
.get-started{
    font-weight: 500;
}
.showcase a:hover{
    color: white;
    opacity: 0.9;
}
/*End; showcase styles*/

.less-div{
    background-color: gray;
    height: 10px;
}


/* start: of the first-section */
.first-sec{
    background-color: black;
    height: 70vh;
    position: relative;
}

.sub-sec{
    width: 80%;
    margin: 0 auto;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
.enjoy{
    width:40%;
    overflow: hidden;
}

.sub-sec img{
    z-index: 2;
    overflow: hidden;
    width: 500px;
}

.sub-sec h2{
    overflow: hidden;
    z-index: -1;
    font-size: 50px;
    font-weight: bold;
}

.sub-sec h4{
    overflow: hidden;
    z-index: 25;
    font-weight: 400;
}
.sub-sec::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 5; /* for it to appear above every other elements*/
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000;
}


.questions{
  
   background-color: black;
}
.questions h2{
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    padding-top: 50px ;
}
.faqq{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#accordion{
   margin: 0 auto;
   width: 70%;
}
.faq{
    background: linear-gradient(gray, black);
    border-bottom: 1px solid white;
}
.que h3{
    padding-top: 15px;
    
}
.que{
    width: 90%;
    margin: 0 auto;
    display: flex;
    
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.answer{
    color: white;
    font-size: 20px;
    transition: max-height .4s ease;
    max-height: 0;
    overflow: hidden;
    
    width: 90%;
    padding-top: 20px;
    margin: 0 auto;
}
.faq.non .answer{
    max-height: 0;
}
.faq.active .answer{
    max-height: 300px;
}
.fa-plus::before{
    display: inline-block;
}
.pluss::before{
    content: ' ';
    transition: .4s;
    transform: rotate(-45deg);
}
.faq i{
    color: white;
    font-size: 30px;
}
.que i::after{
    
}
.showw2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-top: 40px;
    margin: 0 auto;
}
.showw2 h5{
    color: white;
    text-align: center;
    font-size: 15px;
}
.sub-show{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    
    padding-top: 10px;
    margin: 0 auto;
}
.showw2 input{
    padding-top: 10px;
    background-color: transparent;
    border: 1px solid white;
    width: 35%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
}
.showw2 a{
    font-size: 25px;
    padding: 10px 20px;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    
    background-color: red;
}
.foot{
   
    background-color: black;
}
.foot-sec{
    color: white;
    justify-content: space-around;
}
ul li a{
    line-height: 3;
    cursor: pointer;
    color: white;
    text-decoration: underline;
}
ul li a:hover{
    color: white;
}



@media screen and (max-width:900px) {

    
}
@media screen and (max-width:1024px) {

    .showcase-content h1{
        text-align: center;
        font-size: 30px;
    }
    .showcase-content p{
        font-size: 20px;
    }
    .showcase-content h5{
        text-align: center;
        font-size: 15px;
    }
    .sub-sec img{
        width: 45%;
    }
    .enjoy{
        width: 55%;
    }
    .enjoy h2{
        font-size: 35px;
    }
}

@media screen and (max-width:768px) {
    .sub-show{
        flex-direction: column;
        
    }
    .showw2 input{
        width: 100%;
    }
    .showw2 a{
        font-size: 15px;
        padding: 5px 10px;
        color: white;
        margin-left: 10px;
        margin-bottom: 120px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: red;
    }
    .faq i{
        font-size: 10px;
    }
    .faqq{
        width: 90%;
    }
    .que h3{
        font-size: 12px;
    }
    .answer{
        font-size: 10px;
    }
    .accord h2{
        font-size: 20px;
    }
    .showcase-content h1{
        font-size: 20px;
        
    }
    .showcase-top img{
        width: 80px;
    }
    .showcase-content p{
        font-size: 15px;
    }
    .showcase-content h5{
        font-size: 10px;
    }
    
    .showw a{
        font-size: 10px;
        padding: 5px 10px;
        color: white;
        margin: 10px 0;
        margin-left: 0px;
        border-radius: 5px;
        background-color: red;
    }
    

    .showcase-top a{
        z-index: 2;
        background-color: rgb(224, 76, 76);
        padding: 5px 10px;
        font-size: 10px;
        border-radius: 5px;
    }
    .showw{
        flex-direction: column;
    }
    .showw input{
        padding-top: 5px;
        background-color: transparent;
        border: 1px solid white;
        width: 100%;
        max-width: 480px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.6);
        padding-bottom: 5px;
    }
    .showw i{
        font-size: 10px;
    }
    
}
@media screen and (max-width: 650px) {
    .ul2{
        display: none;
    }
    .enjoy{
        width: 100%;
        text-align: center;
    }
    .enjoy h2{
        font-size: 20px;
    }
    .enjoy h4{
        font-size: 15px;
    }
    .sub-sec{
        flex-direction: column;
    }
    .sub-sec img{
        width: 60%;
    }
    .coll{
        flex-direction: column-reverse;
    }
}